<ion-tabs class="tabs-top tabs-striped">
    <ion-tab title="Electronic" ui-sref="tabs.categorytabs.electronic">
        <ion-nav-view name="tab-electronic"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Fashion" ui-sref="tabs.categorytabs.fashion">
        <ion-nav-view name="tab-fashion"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Life" ui-sref="tabs.categorytabs.live">
        <ion-nav-view name="tab-life"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Kids" ui-sref="tabs.categorytabs.kids">
        <ion-nav-view name="tab-kids"></ion-nav-view>
    </ion-tab>
</ion-tabs>