<ion-tabs class="tabs-icon-top">
    <ion-tab title="Home" icon="icon ion-home" ui-sref="tabs.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Category" icon="icon ion-ios-albums" ui-sref="tabs.categorytabs">
        <ion-nav-view name="tab-category"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Offers" icon="icon ion-pricetags" ui-sref="tabs.offers">
        <ion-nav-view name="tab-offers"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Mycart" icon="icon ion-android-cart" ui-sref="tabs.cart" badge="getnumber()" badge-style="badge-assertive">
        <ion-nav-view name="tab-cart"></ion-nav-view>
    </ion-tab>
</ion-tabs>