<ion-view id="ordersent">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-home light" ui-sref="tabs.home"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row title">
            <div class="col col-55 col-offset-20">
                <h1>Order Sent!</h1>
            </div>
        </div>

        <div>
            <i class="icon ion-checkmark-round balanced" style="text-align: center;font-size: 50px;margin-left:45%;margin-top:20px"></i>
        </div>
        <p>You can track you package or make changes at any time</p>
    </ion-content>
</ion-view>