<ion-view id="tour" hide-nav-bar="true">
    <!--<ion-content>-->
    <ion-slide-box>
        <ion-slide>
            <img src="images/tour/01.jpg" style="height:100%">
        </ion-slide>
        <ion-slide>
            <img src="images/tour/02.jpg" style="height:100%">
        </ion-slide>
        <ion-slide style="position: relative">
            <img src="images/tour/03.jpg" style="height:100%">
            <button class="button  button-outline button-light" style="position: absolute;bottom: 20%;left: 45%;" ui-sref="tabs.home">ENTER</button>
        </ion-slide>
    </ion-slide-box>
    <!--</ion-content>-->
</ion-view>