<ion-view title="Offers">
    <ion-content>
        <div class="list list-inset">
            <ion-item class="item-image">
                <img src="images/offers/04.jpg" >
            </ion-item>
        </div>
        <div class="list list-inset">
            <ion-item class="item-image">
                <img src="images/offers/03.jpg" >
            </ion-item>
        </div>
        <div class="list list-inset">
            <ion-item class="item-image">
                <img src="images/offers/02.jpg" >
            </ion-item>
        </div>
        <div class="list list-inset">
            <ion-item class="item-image">
                <img src="images/offers/01.jpg" >
            </ion-item>
        </div>
    </ion-content>
</ion-view>